html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav{
  background-color: #03182e;
  height: min-content;
  padding:10px 5px 10px 5px;
  color: white;
  display: flex;
  justify-content: space-between;
}

#logo{
  height: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
a{
  text-decoration: none;
  color: white;
  font-size: small;
}

.left a{
  padding-right: 10px;
  padding-left:10px ;
}

#sub{
  background-color: #a71600;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  padding: 2px 4px 2px 4px;
}
#log{
  background: none;
  color: white;
  border: none;
}

button,a :hover{
  cursor:pointer;
}

main{

}